version: '3.8'

services:
  postgres:
    image: postgres:14
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME:-transcendence}
      POSTGRES_USER: ${DB_USER:-transcendence}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
volumes:
  postgres_data:
