.card
{
	border-radius: 64px;
	border: 2px solid var(--btn);
	padding: 3rem clamp(3rem, 2.8vw, 3rem);
	background: var(--bg-soft);
	box-shadow: 0 42px 12px var(--shadow);
}

.auth-card 
{
	width: 100%;
}

.auth-card-form
{
	width: fit-content;
}
