:root
{
	--bg: #2a2a2a;
	--bg-soft: #343434;
	--surface: #3a3a3a;
	--surface-soft: #424242;

	--btn: #8b6f42;
	--btn-soft: #ae8b53;
	--chess-light: #8b734c;
	--chess-dark: #52422a;

	--text: #f1f1f1;
	--text-soft: #c7c7c7;
	--text-muted: #9c9c9c;

	--line: #575757;
	--line-strong: #6b6b6b;

	--link-bl: #2980d2;
	--focus: #84b1ff;

	--light:#ae8b5355;
	--shadow: rgba(0, 0, 0, 0.745);

	font-family: 'Noto Sans', 'Segoe UI', sans-serif;
	color: var(--text);
}
