
.clock
{
	border: 1px solid var(--chess-light);
	border-radius: 12px;
	padding: 0.98rem 1rem;
	box-shadow: 0 0 12px var(--shadow);
}

.clock span
{
	display: block;
	margin-bottom: 0.25rem;
	font-size: 0.72rem;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}

.clock strong
{
	display: block;
	font-size: clamp(1.25rem, 2vw, 1.7rem);
}

.clock-white
{
	background: rgba(255, 255, 255, 0.35) ;
}
.clock-white span,
.clock-white strong
{
	color: rgba(0, 0, 0, 0.35);
}

.clock-white.clock-active
{
	background: white;
}

.clock-white.clock-active span,
.clock-white.clock-active strong
{
	color: black;
}


.clock-black
{
	background: rgba(0, 0, 0, 0.35) ;
}
.clock-black span,
.clock-black strong
{
	color: rgba(255, 255, 255, 0.35);
}
.clock-black.clock-active
{
	background: black;
}
.clock-black.clock-active span,
.clock-black.clock-active strong
{
	color: white;
}