/* 
|-------GENERAL-------|
*/
.btn
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	line-height: 1;
	color: var(--text);
	background: var(--chess-light);
	border-radius: 32px;
	border: 2px solid var(--shadow);
	padding: 1rem clamp(1rem, 2.8vw, 2rem);
	box-shadow: 6px 6px 6px var(--shadow);
	transition: box-shadow 250ms ease, transform 250ms ease;
}


.btn:hover
{
	cursor: pointer;
	transform: translateY(-1.5px);
	box-shadow: 1px 1px 1px var(--shadow);
}

.btn:active
{
	transition: none;
	transform: scale(0.97);
	box-shadow: inset 6px 6px 6px var(--shadow);
}

.btn:focus-visible
{
	border-color: var(--focus);
	outline: none;
}
/* 
|-------SUBMIT--------|
*/

.submit-btn
{
	font-size: large;
	font-weight: 700;
	justify-self: right;
}

/* 
|-------NAV--------|
|- Topbar buttons -|
|- Footer buttons -|
|------------------|
*/
.nav-btn
{
	padding: clamp(0.1rem, 0.2vw, 0.2rem);
	text-align: center;
	width: 150px;
	min-height: 3.25rem;
	font-size: x-large;
	white-space: nowrap;

}
.nav-btn a
{
	color: var(--text);
}

.confirm-btn-danger
{
	box-shadow: 0 0 12px red;
}

.confirm-btn-danger:hover
{
	box-shadow: inset 0 0 32px red;
}

.confirm-btn-danger:active
{
	box-shadow: inset 0 0 64px red;
}
