.topbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: var(--surface);

	padding: 1rem 2rem;
	border-bottom: 1px solid var(--chess-light);
	box-shadow: 12px 12px 12px var(--shadow)
	
}

.brand-block
{
	gap: 0.15rem;
	display: flex;
	flex-direction: column;
}

.brand-title,
.brand-subtitle
{
	margin: 0;
}

.brand-title
{
	font-size: clamp(1.5rem, 2.5vw, 3rem);
	font-weight: 700;
	color: var(--text);
}

.brand-subtitle
{
	color: var(--text-soft);
	font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.top-nav
{
	display: flex;
	align-items: center;
	gap: 1rem;
}
