/*
APP MAIN
	- Remaining space between top bar and footer
	- Contain the main content of the app
*/
.app-main
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: clamp(3rem, 4vw, 4rem);
}

.main-content
{
	font-size: 42px;
	width: min(100%, 2400px);
}
